@import 'colors';
@import 'vars';

body {
  color: $primary-4;

  .main {
    min-height: 100vh - ($header-height + $footer-height);
  }

  .side {
    color: $primary-3;
  }

  .content {
    color: $primary-2;
  }
}
